@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.menu {
  width: 200px;
  background-color: #1a1c1e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 8px 20px 8px;
  justify-content: space-between;
}
.menu ul,
.sub_services ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.container_logo {
  width: 42px;
  height: 42px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 25px;
}
.container_logo img {
  width: 32px;
}
.menu li,
.sub_services ul li {
  color: #fff;
  list-style: none;
  padding: 8px 25px;
  border-radius: 8px;
}
.menu li i,
.container_logout i,
.sub_services ul li i {
  margin: 0 5px 0 0;
}
.menu li:hover,
.logout,
.activate,
.sub_services ul li:hover {
  transition: 0.25s all;
  background-color: #303234;
}
.logout {
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
}
.sub_services {
  width: 240px;
  border-radius: 0 8px 8px 0;
  padding: 20px 8px 20px 8px;
  background-color: #1a1c1e;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 200px;
  top: 105px;
  visibility: hidden;
}
.sub_services ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}
