@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.menu {
  width: 200px;
  background-color: #1a1c1e;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 8px 0 8px;
  justify-content: flex-start;
}
.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.container_logo{
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 25px;
}
.container_logo img{
    width: 32px;
}
.menu li {
  color: #fff;
  list-style: none;
  padding: 8px 25px ;
  border-radius: 8px;
}
.menu li i {
  margin: 0 5px 0 0;
}
.menu li:hover {
  transition: 0.25s all;
  background-color: #303234;
}
